* {
  margin: 0px;
  padding: 0px;
  font-family: "Montserrat", sans-serif;
}

@font-face {
  font-family: "Monument Extended";
  src: url(../assets/fonts/MonumentExtended-Regular.otf);
}

/* -------------------------- CLASES REUTILIZABLES (INICIO) -------------------------- */

/* --------- Header --------- */
.header {
  border: 4px solid blue;
  display: flex;
}

.header__brand_logo {
  height: 75px;
}

/* --------- Footer --------- */
.footer {
  border: 4px solid cornflowerblue;
}

.footer__social_logo {
  height: 30px;
}

/* ----- */
.container{}

/* -------------------------- CLASES REUTILIZABLES (FIN) -------------------------- */

/* --------- Banner principal --------- */

.container__figure__img_banner {
  width: 100%;
}

/* -------------------------- INDEX STYLE (INICIO) -------------------------- */

/* --------- Seccion NOVEDADES --------- */

.container__cards{
  display: flex;
  flex-wrap: nowrap;
}

 .container .container__cards .container__cards__element h3{
  text-align: center;
} 
.container__cards__element__img{
  width: 100%;
}

/* --------- Seccion DESCUENTOS --------- */

.discounts{
  display: flex;
}

/* -------------------------- INDEX STYLE (FIN) -------------------------- */



li {
  list-style: none;
}

/* Titulo secciones */
h2 {
  text-align: center;
}

/* Formulario de ayuda */
textarea {
  resize: none;
}
